on boot
   insmod /vendor/lib/modules/ssv6051.ko
   insmod /vendor/lib/modules/ssv6x5x.ko
   insmod /vendor/lib/modules/ssv_hwif_ctrl.ko

on property:wlan.driver.status=ok
   setprop wifi.direct.interface p2p-dev-wlan0
